/*******************************************************************************
 * Themes
 ******************************************************************************/

:root {
  --global-bg-color: #fff;
  --global-code-bg-color: #{$code-bg-color-light};
  --global-text-color: #262626;
  --global-text-color-light: #494B5B;
  --global-theme-color: #B3001B;
  --global-hover-color: #B3001B;
  --global-hover-text-color: #fff;
  --global-footer-bg-color: #24252D;
  --global-footer-text-color: #65687B;
  --global-footer-link-color: #fff;
  --global-distill-app-color: #494B5B;
  --global-divider-color: rgba(0, 0, 0, 0.1);
  --global-card-bg-color: #fff;
  --global-highlight-color: #{$red-color-dark};

  --global-tip-block: #42b983;
  --global-tip-block-bg: #e2f5ec;
  --global-tip-block-text: #215d42;
  --global-tip-block-title: #359469;
  --global-warning-block: #e7c000;
  --global-warning-block-bg: #fff8d8;
  --global-warning-block-text: #6b5900;
  --global-warning-block-title: #b29400;
  --global-danger-block: #DF2935;
  --global-danger-block-bg: #ffe0e0;
  --global-danger-block-text: #8E151D;
  --global-danger-block-title: #DF2935;

  #light-toggle-system {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  #light-toggle-dark {
    display: none;
  }

  #light-toggle-light {
    display: none;
  }

  .repo-img-light {
    display: block;
  }
  .repo-img-dark {
    display: none;
  }
}

html[data-theme="dark"] {
  --global-bg-color: #24252D;
  --global-code-bg-color: #{$code-bg-color-dark};
  --global-text-color: #494B5B;
  --global-text-color-light: #F0F5F9;
  --global-theme-color: #255C99;
  --global-hover-color: #255C99;
  --global-hover-text-color: #fff;
  --global-footer-bg-color: #65687B;
  --global-footer-text-color: #24252D;
  --global-footer-link-color: #255C99;
  --global-distill-app-color: #65687B;
  --global-divider-color: #424246;
  --global-card-bg-color: #{$grey-900};

  --global-tip-block: #42b983;
  --global-tip-block-bg: #e2f5ec;
  --global-tip-block-text: #215d42;
  --global-tip-block-title: #359469;
  --global-warning-block: #e7c000;
  --global-warning-block-bg: #fff8d8;
  --global-warning-block-text: #6b5900;
  --global-warning-block-title: #b29400;
  --global-danger-block: #DF2935;
  --global-danger-block-bg: #ffe0e0;
  --global-danger-block-text: #8E151D;
  --global-danger-block-title: #DF2935;

  .repo-img-light {
    display: none;
  }
  .repo-img-dark {
    display: block;
  }
}

html[data-theme-setting="dark"] {
  #light-toggle-system {
    display: none;
  }

  #light-toggle-dark {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  #light-toggle-light {
    display: none;
  }
}

html[data-theme-setting="light"] {
  #light-toggle-system {
    display: none;
  }

  #light-toggle-dark {
    display: none;
  }

  #light-toggle-light {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }
}
